<link rel="stylesheet" href="/src/css/header.css" />
<link rel="stylesheet" href="/src/css/button.css" />
<header class="header">
  <div class="header__content">
    <nav class="header__nav">
      <ul>
        <div class="header__logo">
          <img
            src="/src/assets/images/logotipo.svg"
            alt="logotipo da empresa GoFly"
          />
        </div>
        <li><a href="#"></a>Tour</li>
        <li><a href="#"></a>Pacotes</li>
        <li><a href="#"></a>Sobre</li>
        <li><a href="#"></a>Destino</li>
        <button class="button">Começar</button>
      </ul>
    </nav>
  </div>
</header>
